.App {
  text-align: center;
}
body {
  background-color: #cbb8a9;
}

.ArticleList {
  padding-left: 5px;
  padding-right: 5px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 4px;
  list-style: none;
}
.ArticleCard {
  color: #394648;
  background-color: #d8d0c1;
  display: block;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
}

.ArticleCard:hover {
  border-color: goldenrod;
}

.Article {
  color: #394648;
  background-color: #d8d0c1;
  margin: 5px;
  padding-left: 20px;
  padding-right: 20px;
  border-style: solid;
  border-radius: 10px;
}
